
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<div class=" box container-fluid rounded-3 lg:w-1/3 md:w-1/2 bg-white flex flex-col ms-5 w-full md:py-8 mt-8 md:mt-0 align-self-center"> 
    <h2 class="ms-2 mb-3 text-center ">Login Details</h2>
    <form class="bg-light m-2" [formGroup]="loginform" (ngSubmit)="login()">
      <div class="mb-3 row m-2 ms-3">
        <div class="form-floating mb-3 mt-3">
          <input type="email" class="form-control rounded-2" id="email" placeholder="name@example.com" formControlName="email">
          <label for="email" class="ms-3">Email address</label>
          <div *ngIf="loginform.controls['email'].errors && loginform.controls['email'].touched" class="error-message">
            <div *ngIf="loginform.controls['email'].errors['required']">Please enter your email.</div>
            <div *ngIf="loginform.controls['email'].errors['email']">Please enter a valid email address.</div>
          </div>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control rounded-2" id="password" placeholder="Password" formControlName="password">
          <label for="" class="ms-3">Password</label>
          <div *ngIf="loginform.controls['password'].errors && loginform.controls['password'].touched" class="error-message">
            Please enter your password.
          </div>
        </div>
        <div class="ms-5 mb-3 mt-4">
          <div class="ms-5 col-sm-10">
            <input type="submit" class="btn btn-outline-primary btn align-self-center w-100 align-content-center" [disabled]="loginform.invalid" value="Login"/>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-12 text-center"><h3>Don't have an account? <span><h3 href="#" class="text-primary text-capitalize" routerLink="/register">Click Here</h3></span></h3></label>
        </div>
      </div>
    </form>
    
</div>