<!-- <body> -->
<div class="body">
  <div class="container">

        <div class="wrapper animated bounceInLeft">

      <div class="company-info">

        <h3>Book Meeting Room Now</h3>

        <ul>

          <li><i class="fa fa-road"></i> Mumbai(Pune)</li>

          <li><i class="fa fa-phone"></i> (555) 555-5555</li>

          <li><i class="fa fa-envelope"></i> Hubspot@gmail.com</li>

        </ul>

      </div>

      <div class="contact">

        <h3>Email Us</h3>

        <form id="contactForm" [formGroup]="cusForm" (ngSubmit)="cusBooking(cusForm)">

          <p>

            <label>userName</label>

            <input type="text" formControlName="username" id="name">

          </p>

          <p>

            <label>Designation</label>

            <input type="text" formControlName="designation" id="company">

          </p>

          <p>

            <label>Email</label>

            <input type="text" formControlName="email" id="email">

          </p>

          <p>

            <label>Check-in</label>

            <input type="date" formControlName="checkin" id="phone">

          </p>

          <p class="full">

            <label>Check-out</label>

            <input type="date" formControlName="checkout" id="phone">

          </p>

          <p class="full">

            <label>No. of Room</label>

            <input type="number" formControlName="numberofRooms" id="phone">

          </p>

          <p class="full">

            <label>Person</label>

            <input type="number" formControlName="person" id="phone">

          </p>

          location:<mat-form-field>

            <mat-label>Cars</mat-label>

            <select matNativeControl required formControlName="location">

              <option value="volvo" name="location">Pune</option>

              <option value="saab" name="location">Hinjewadi</option>

              <option value="mercedes" name="location">Mumbai</option>

              <option value="audi" name="location">Hyderabad</option>

            </select>

          </mat-form-field>

          <p class="full">

            <label>Duration in Hours</label>

            <input type="text" formControlName="duration" id="phone">

          </p>

          <p class="full">

            <button type="submit">Submit</button>

          </p>

        </form>

      </div>

    </div>

  </div>
</div>
 

 

<!-- </body> -->