<!-- <app-header></app-header> -->
<!-- <app-home></app-home> -->
<!-- <app-roomservice></app-roomservice> -->
<!-- <app-bookmeet></app-bookmeet> -->
<!-- <app-room-tour></app-room-tour> -->
<!-- <app-resources></app-resources> -->
<!-- <router-outlet></router-outlet>  -->
<!-- <router-outlet></router-outlet>  -->
<!-- <app-footer></app-footer> -->
<!-- <app-partners></app-partners> -->
<!-- hello iam aravind -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <app-invoice></app-invoice> -->
<!-- <app-paypal></app-paypal> -->
<!-- <app-payment></app-payment> -->
<!-- <app-admin></app-admin> -->
<app-adminhistory></app-adminhistory>