<mat-checkbox [(ngModel)]="item1.isChecked" (change)="updateTotal(item1)">Ac</mat-checkbox>
<mat-checkbox [(ngModel)]="item2.isChecked" (change)="updateTotal(item2)">PersonalComputers</mat-checkbox>
<mat-checkbox [(ngModel)]="item3.isChecked" (change)="updateTotal(item3)">Projector</mat-checkbox>
<mat-checkbox [(ngModel)]="item4.isChecked" (change)="updateTotal(item4)">Speackers</mat-checkbox>
<mat-checkbox [(ngModel)]="item5.isChecked" (change)="updateTotal(item5)">WebCam</mat-checkbox>
<mat-checkbox [(ngModel)]="item6.isChecked" (change)="updateTotal(item6)">Boards</mat-checkbox>
<h1>Total Amount of Resources:{{total}} Rs</h1>
