<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>HubSpot</title>
</head>
    <app-header></app-header>
    <body>
        
        <div class="intro">
      <h1>Resources Provided By Us</h1>
      <p>Hubspot meeting room </p>
    </div>
    
    <div class="content">
      <div class="container">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
    </div>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/speakerimp.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">Participants and Speakers</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">However, it is certainly possible to connect a microphone directly into a speaker</p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/setup.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">A Proper Setup</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">Hоllоw sԛuаrе, аlѕо knоwn as a “closed U,” consists of (typically) fоur tаblеѕ in a rесtаnglе, ѕԛuаrе, оr аnу оthеr multi-designed shape рlасеd adjacent tо each оthеr.</p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/generator.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title"> Power Connectivity</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">the majority of meeting room participants will bring a laptop to the meeting or participate in conference calls from the same space. myHQ meeting rooms have a 24×7 electricity supply so that you can work uninterrupted. </p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/wifi.png"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">Wi-fi Connectivity</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">WiFi, as well as any necessary connecting cables and wireless routers, available. Remember the login credentials for visitors from outside the company. High-speed internet access via Wi-Fi connectivity is available in myHQ meeting rooms.</p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/hallow.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">Digital AV Solution (screen or projector with speakers)</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">Hоllоw sԛuаrе, аlѕо knоwn as a “closed U,” consists of (typically) fоur tаblеѕ in a rесtаnglе, ѕԛuаrе, оr аnу оthеr multi-designed shape рlасеd adjacent tо each оthеr.</p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/writing.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">A Collective Writing Surface</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">This lets participants take notes while brainstorming sessions or outlining ideas during meetings.</p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/clean.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">COVID-related Factors</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">It’s crucial to check that your meeting space is adequately ventilated and that attendees have easy access to hand sanitizer in the present atmosphere for health. Allow adequate room to adhere to social distance guidelines. Use signs to explain the most recent COVID policies in the office, such as coughing into your elbow and washing your hands. </p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/marker.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title">Office Equipment</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">This comprises whiteboard markers, paper, post-it notes, pencils, and other tools for note-taking and collaborative projects. It will make it easier for clients to take notes on important information or to discuss ideas in groups. </p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card">
                        <img src="../../assets/projector.jpg"  alt="" class="card__img">                 
                             <div class="card__data">
                                 <h1 class="card__title"> Projector</h1>
                                 <span class="card__preci">$99</span>
                                 <p class="card__description">making lessons more engaging and interactive, increasing student participation and understanding, and enhancing collaboration and communication among students. </p>
                                 <a href="#" class="card__button">Buy Now</a>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  </body>

    