<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>HubSpot</title>
</head>
<app-header></app-header>
<body>
<div class="wrapper">
    <header>
      <img src="../../assets/p2.jpg" class="background">
      <img src="../../assets/p1.png" class="foreground">
      <h1 class="title">Welcome!</h1>
    </header>
    <section>Our Past Subscribers</section>
    
</div>

<!-- <div class="container">
    <img width="10%" src="../../assets/img1.jpg"/>
    <div class="text">
        <h1>transform your business, tap <br/> into future-ready technologies</h1>
    </div>
</div> -->
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-up">
                        <img width="100%" src="../../assets/Google-new_19.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-down">
                        <img width="100%" src="../../assets/8867.Microsoft_5F00_Logo_2D00_for_2D00_screen.jpg"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-up">
                        <img width="100%" src="../../assets/Amazon-Logo.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-up">
                        <img width="100%" src="../../assets/HD-wallpaper-apple-reflective-logo-apple-logo-brand.jpg"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-down">
                        <img width="100%" src="../../assets/Adobe-logo.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-up">
                        <img width="100%" src="../../assets/hp.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-up">
                        <img width="100%" src="../../assets/-11594687246vzsjesy7bd.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-down">
                        <img width="100%" src="../../assets/Ola_Cabs_logo.svg.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <!-- <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span> -->
                        </div>
                    </div>
                    <div class="badge"> <span>Design</span> </div>
                </div>
                <div class="mt-5">
                    <div data-aos="fade-up">
                        <img width="100%" src="../../assets/Linkedin-Logo.png"/>
                        <div class="mt-3"> <span class="text1">Our Past Subscriber <span class="text2">of 100 capacity</span></span> </div>
                    </div>
                    <!-- <h3 class="heading">Senior Product<br>Designer-Singapore</h3> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
